//@import 'https://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700&subset=cyrillic';

$btn_c: #fedc00;
$bg_c1: #3bc8ff;
$bg_c2: #00a6e6;
$bg_footer: #003144;
$txt_c: #484748;

$ff: 'Cera PRO', sans-serif;
$fr: 'Roboto', sans-serif;

//
//MATERIALIZE FORM VAR



//
//


//
//________________MIXINS
@mixin clr() {
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

@mixin br($r) {
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  border-radius: $r;
}

@mixin trans($times:200ms) {
  -webkit-transition: all $times ease-in-out;
  -moz-transition: all $times ease-in-out;
  -ms-transition: all $times ease-in-out;
  -o-transition: all $times ease-in-out;
  transition: all $times ease-in-out;
}
@mixin onlyCenterImg($height:auto, $width: auto){
  height: $height;
  width: $width;
  position: relative;

  img{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

//____________END MIXINS
//
.cont {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  @include clr;

}

.cont-full {
  //height:90vh;

  width: 100%;
  @include clr;
}


